 body{
    background-image: url("space.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    
} 


  img{
      width: 50px;
      height: 50px;
      
      
  }
  .codeNation{
      width:250px;
      height: 40px;
      display: block; 
      padding-top: 50px;
      margin-left: auto;
      margin-right: auto;
  }

  .star{
    position: absolute;
    top:100px;
    left: 0px;
    animation-name: move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }

  @keyframes move{
    from{transform: translateX(-100px)}
    to{transform: translateX(2000px)}
  }

.insta{
  align-content: center;
  margin-left: 850px;
  margin-top: 700px;
  padding-left: 10px;
}

  .insta:hover{
    cursor: pointer; transform: rotate(360deg); transition: all 0.3s ease-in-out 0s
}

  .codeNation:hover{
    cursor: pointer; transform: rotate(360deg); transition: all 0.3s ease-in-out 0s
  }
  .twitter:hover{
    cursor: pointer; transform: rotate(360deg); transition: all 0.3s ease-in-out 0s
  }
  .fb:hover{
    cursor: pointer; transform: rotate(360deg); transition: all 0.3s ease-in-out 0s
  }
    